<%- include("header") -%>

<div class="box" id="heading">
    <h1><%= kindOfDay %> List</h1>
</div>
<div class="box">
    <% for (let i = 0; i < newListItem.length; i++) { %>
        <div class="item">
            <label>
                <input type="checkbox">
            </label>
            <p><%= newListItem[i] %></p>
        </div>
    <% } %>
    <form action="/" method="post">
        <label for="nextToDoListItem">
            <input type="text" id="nextToDoListItem" name="nextToDoListItem" placeholder="Next Item" autocomplete="off">
        </label>

        <button type="submit" name="list" value="<%= kindOfDay %>">+</button>
    </form>
</div>

<%- include("footer") -%>
